<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>quiki</title>

    <!-- vendor scripts -->
    <script src="../../vendor/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="../../vendor/rivets-0.9.3/rivets.bundled-0.9.3.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../vendor/autoComplete-1.0.4/auto-complete.css" rel="stylesheet">
    <script src="../../vendor/autoComplete-1.0.4/auto-complete.js"></script>

    <!-- custom resources -->
    <link rel="stylesheet" href="../../styles/quiki-popup.css">
    <script src="../../quiki-framework/modules/QuikiInput.js"></script>

</head>

<body id="popup">

    <div class="top">
        <img id="logo" src="../../icons/icon_512.png" alt="" />
    </div>

    <div class="main">

        <div class="features component">
            <form id="diki-form" class="item default-form" target='_newtab' action="https://www.diki.pl/slownik-angielskiego">
                <div class="input-group">
                    <input id="diki-query" type="text" name="q" autocomplete="off" autofocus placeholder="Wpisz hasło" />
                    <button id="submit-button" type="submit">
                        <i class="material-icons">&#xE8B6;</i>
                    </button>
                </div>
                <input type="text" name="origin" hidden value="quiki" />
            </form>
            <a class="default d-block item" href="https://diki.pl?origin=quiki" target='_newtab'>
                <i class="material-icons">&#xE867;</i>&nbsp;&nbsp;Odwiedź diki.pl
            </a>
            <a class="default d-block item" href="https://www.diki.pl/dictionary/word-of-the-day?origin=quiki" target='_newtab'>
                <i class="material-icons">&#xE8DF;</i>&nbsp;&nbsp;Słówko dnia
            </a>
        </div>

        <div class="settings component">
            <table class="item setting-table">
                <tbody>

                    <tr rv-each-option="settings">
                        <td class="label">{ option.label }</td>
                        <td class="option">
                            <label class="switch">
                                <input id="settings-double-click" type="checkbox" rv-checked="option.value" rv-on-change="option.setValue">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <!-- rivets.js controller -->
    <script src="../controllers/popup.js"></script>

</body>

</html>