@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

html.quiki-presenting{
    overflow: hidden !important;
}

#quiki-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-top: 65px;
    box-sizing: border-box;
    z-index: 2147483641;
}

#quiki-poke{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 2147483640;
}

#quiki-x{
    position: absolute;
    right: -4px;
    top: -4px;
    transform: translateY(-100%);
    background-color: #c30407;
    padding: 12px;
    padding-left: 32px;
    color: #fff;
    z-index: 1000002;
    user-select: none;
    z-index: 2147483643;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#quiki-x > span{
    position: absolute;
    top: 48%;
    left: 10px;
    font-size: 25px;
    transform: translateY(-50%);
}

#quiki-iframe-wrap{
    position: relative;
    z-index: 2147483642;
    max-width: 1150px;
    height: 100%;
    margin: auto;
    border: 4px solid #c30407;
    background-color: #fff;
}

#quiki-iframe-wrap > iframe{
    position: relative;
    width: 100%;
    height: 100%;
}

#quiki-modal > iframe #thinHeaderMenuIcon{
    padding: 10px !important;
}