@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

html,
body {
    padding: 0;
    margin: 0;
    min-width: 200px;
    min-height: 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #333;
    line-height: 1.3;
}

body {
    border-top: 4px solid #c30407;
}

a,
a:focus,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

a.default:hover {
    color: #c30407;
}

.d-block {
    display: block;
}

.material-icons {
    font-size: inherit;
    position: relative;
    top: 2px;
}

.top {
    background-color: #f7f7f7;
    box-shadow: 0 0px 5px 0 rgba(79,90,93,0.28);
}

#logo {
    max-width: 50%;
    max-height: 38px;
    display: block;
    margin: auto;
    padding: 6px;
}

.component {
    padding: 5px 10px;
    border-top: 1px solid rgba(238, 238, 238, 0.5);
}

.component > .item {
    padding: 5px 0;
    box-sizing: border-box;
}

.features {
    padding-top: 12px;
}

.settings {
    color: #666;
    font-size: 9px;
}

table.setting-table {
    border-spacing: 0;
    width: 100%;
}

table.setting-table > tbody > tr > td {
    padding-top: 10px;
}

table.setting-table > tbody > tr:first-child > td {
    padding-top: 0;
}

table.setting-table td.option {
    padding-left: 10px;
    width: 1px;
}

.no-selection {
    user-select: none;
}

.switch {
    float: right;
    position: relative;
    width: 30px;
    height: 18px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.3s;
}

.slider.round {
    border-radius: 8px;
}

.slider.round:before {
    border-radius: 50%;
}

button[type="submit"] {
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.input-group button {
    border: none;
    background-color: #c30407;
    color: #fff;
    padding: 0 5px;
    border-radius: 0 3px 3px 0;
    border: 2px solid #c30407;
    border-left: 0;
}

.input-group .material-icons {
    font-size: 1.3em;
}

input:checked + .slider {
    background-color: #c30407;
}

input:focus + .slider {
    box-shadow: 0 0 1px #c30407;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

input[type="text"] {
    border: 2px solid #c30407;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
}

input[type="text"]::placeholder {
    opacity: 0.5;
}

*:focus {
    outline: none;
}

.autocomplete-suggestions {
    right: 10px;
    border-color: #c30407;
    max-height: 100px;
}

.autocomplete-suggestion b {
    font-weight: 400;
    color: inherit;
}

.autocomplete-suggestion b:first-of-type {
    font-weight: bold;
    color: #c30407;
}
